.reviews {
  padding: 30px 15px;

  p {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}

.reviews__avatar {
  margin-bottom: 20px;
}

.reviews__header {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.reviews__title {
  margin-bottom: 20px;
}

.reviews__images {
  @include list-reset;

  img {
    display: block;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.reviews__image {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .reviews__avatar {
    display: block;
    float: left;
    width: 290px;
    margin: 0 30px 30px 0;
  }

  .reviews__images {
    display: flex;
  }

  .reviews__image {
    max-width: 200px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .reviews {
    padding: 0;
  }
}
