.one-click {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 40px;
  margin-top: 25px;
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  border: 1px dashed #282828;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover {
    background-color: #fcde43;
  }

  &::before {
    @include pseudo;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-image: url("../../img/mouse.png");
    background-size: contain;
  }
}
