.sorting {
  border: 1px solid #282828;
  border-radius: 5px;
}

.sorting__list {
  @include list-reset;
  padding: 15px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.sorting__item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  a {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      @include pseudo;
      width: 14px;
      height: 14px;
      margin-right: 10px;
      border: 1px solid #282828;
      border-radius: 50%;
    }
  }

  .active {
    &::after {
      @include pseudo;
      position: absolute;
      top: 4px;
      left: 3px;
      width: 10px;
      height: 10px;
      background-color: #282828;
      border-radius: 50%;
    }
  }
}

.sorting__view {
  display: none;
}

@media (min-width: 768px) {
  .sorting {
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .sorting__list {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .sorting__item {
    &:not(:last-child) {
      margin-right: 14px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .sorting {
    display: flex;
    align-items: center;
  }

  .sorting__view {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .sorting__text {
    margin-right: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
  }

  .sorting__item {
    .active {
      &::after {
        top: 3px;
      }
    }
  }

  .sorting__control {
    display: block;
    margin-left: 5px;

    svg {
      width: 26px;
      height: 26px;
      fill: transparent;
      stroke: #cbcbcb;
    }

    &--current {
      svg {
        stroke: #fcde43;
      }
    }
  }
}
