.more {
  padding: 10px;
  background: #fcde43;
}

.more__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.69);
  text-transform: uppercase;

  &:hover {
    &::before {
      animation: left 0.5s ease infinite;
    }

    &::after {
      animation: right 0.5s ease infinite;
    }
  }

  &::before {
    @include pseudo;
    width: 27px;
    height: 15px;
    margin-right: 20px;
    background-image: url("../../img/more__left.png");
    background-size: contain;
    transition: all 0.3s;
  }

  &::after {
    @include pseudo;
    width: 27px;
    height: 15px;
    margin-left: 20px;
    background-image: url("../../img/more__right.png");
    background-size: contain;
    transition: all 0.3s;
  }
}

@keyframes left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}
