.consultation {
  padding: 40px 15px;
  background: linear-gradient(180deg, #fcde43 0%, #ffe665 45.31%, #ffe248 100%);
}

.consultation__title {
  margin-bottom: 22px;
  text-align: center;
}

.consultation__desc {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}

.consultation__input {
  display: block;
  width: 100%;
  height: 36px;
  margin-bottom: 22px;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background: transparent;
  border: none;
  border-bottom: 2px solid #282828;
  border-radius: 0;
  appearance: none;

  &::placeholder {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
}

@media (min-width: 768px) {
  .consultation {
    padding: 30px 20px;
    border-left: 4px solid #000000;
  }

  .consultation__title {
    margin-bottom: 8px;
    text-align: left;
  }

  .consultation__desc {
    margin-bottom: 8px;
    text-align: left;
  }

  .consultation__form {
    display: flex;
    align-items: flex-end;
  }

  .consultation__input {
    width: 100%;
    margin-right: 60px;
    margin-bottom: 0;
  }

  .consultation__button {
    width: 220px;
    min-width: 220px;
  }
}

@media (min-width: 1200px) {
  .consultation__form {
    display: inline-flex;
  }

  .consultation__input {
    width: 250px;
    margin-left: 230px;
    text-align: left;

    &::placeholder {
      text-align: left;
    }
  }
}
