.contacts {
  padding: 30px 15px;
}

.contacts__content {
  margin-bottom: 30px;

  h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
}

.contacts__title {
  margin-bottom: 30px;
}

.contacts__form {
  padding: 26px 40px;
  border: 1px solid rgba(0, 0, 0, 0.69);
  border-radius: 5px;
}

.contacts__header {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.contacts__input {
  width: 100%;
  height: 50px;
  margin-bottom: 12px;
  padding: 10px 24px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.69);
  border-radius: 5px;

  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
}

.contacts__button {
  height: 50px;
}

@media (min-width: 768px) {
  .contacts__inner {
    display: flex;
    align-items: flex-start;
  }

  .contacts__form {
    width: 335px;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .contacts {
    padding: 0;
  }
}
